body {
  margin: 0%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(22, 22, 92);
  background-image: url("../public/background.jpg");

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Title {

  font-size: xxx-large ;
  font-family: Quicksand;
  color : white;  
  text-align: center;
  margin-top: 10%;
}

.Buttons {
  margin-top: 14%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}



.button {
  /*margin-bottom: 20%;    règle le soucis de background mais sur un plus petit écran rajoute de la longueur sur la page*/
  font-size: xxx-large ;
  font-family: Quicksand;
  color : white;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  
  border-radius: 100px;

}

.button:hover {
  background-color: rgb(0, 0, 10);
}



@media only screen and (min-width: 1920px),(min-height: 1080px) {

  body{
    background-repeat: no-repeat;  
    background-size: cover;
    background-position-y: top;
  }

}